$blueprint-grid-columns: 12;
$blueprint-grid-width: 60px;
$blueprint-grid-margin: 20px;
$grid-background-column-width: 60px;
$grid-background-gutter-width: 20px;
$grid-background-baseline-height: 20px;
$base-font-size: 12px;
$base-line-height: 20px;
$width: $blueprint-grid-columns * ($blueprint-grid-width + $blueprint-grid-margin) - $blueprint-grid-margin;
$wrapper-width: $width + 60px;

$darkblue: #072338;
$blue: #99def7;
$border-blue: mix($blue, $darkblue, 60%);
$font-color: $blue;
$link-color: darken($blue, 10%);
$link-visited-color: $link-color;
$header-color: $blue;

@import "compass";
@import "compass/layout";
@import "blueprint";
@import "blueprint/interaction";
@import "compass/layout/grid-background";
@import "compass/typography/vertical_rhythm";

@import "fonts";
@import "icon/*.png";

@include blueprint-typography;
@include blueprint-interaction;
@include establish-baseline;

//* { outline: 1px solid rgba($blue,0.3);}
//#wrapper { @include grid-background; }
html,body { padding: 0; margin: 0; }
body {
  background: #737c82;
}
h1,h2,h3 {
  font-family: CenturyGothic;
  font-weight: normal;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
  margin-top: 24px;
}
ul, li {
  list-style: none;
  padding: 0;
}
address {
  font-style: normal;
}
#flash-holder {
  position: absolute;
  z-index: 500;
  top: 0;
  width: 100%;
  height: 0px;
  overflow: visible;
  #flash {
    width: $wrapper-width / 2;
    margin: 0 auto;
    p {
      margin: 0;
    }
    .feedback, .error, .alert, .notice, .success, .info {
      padding: 3px 8px;
    }
  }
}
#userbar, #footer {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: black;
  background-color: rgba(0,0,0,0.7);
  color: white;
  .w {
    width: $width;
    padding: 5px 0;
    margin: 0 auto;
  }
  @include single-box-shadow(#333, 0, 0, 30px, 0px, false);
}
#userbar {
  top: 0;
  .w {
    text-align: right;
  }
  .u {
    display: inline;
    .a {
      display: inline;
      img {
        height: 16px;
        margin: 0;
        padding: 0;
        vertical-align: -4px;
      }
      margin-right: 4px;
    }
    .nc {
      display: inline;
      margin-right: 4px;
    }
  }
}
#footer {
  bottom: 0;
  .w {
    text-align: center;
    a {
      margin: 0 10px;
    }
  }
}
#wrapper {
  position: relative;
  background: $darkblue url(/images/blueprint-tile.png) 0px 0px;
  width: $wrapper-width;
  margin: 40px auto;
  padding: 19px 0;
  @include single-box-shadow(#333, 0, 0, 50px, 8px, false);
}
#container {
  @include container;
  border: 1px solid $border-blue;
  padding: 10px 9px 9px 10px;
}
#header {
  height: 142px;
  margin-bottom: 8px;
  h1 {
    position: absolute;
    top: 29px;
    left: 17px;
    margin: 0;
    padding: 0;
    width: 419px;
    height: 150px;
    background: url(/images/logo.png) no-repeat -17px 0px;
    @include hide-text;
    a {
      display: block;
      width: 419px;
      height: 135px;
    }
  }
}
#nav {
  ul {
    @include horizontal-list;
    border-bottom: 1px solid $border-blue;
    padding-left: 6px;
    position: relative;
    top: -2px;
    li, li:first-child, li:last-child {
      position: relative;
      top: 1px;
      border: 1px solid $border-blue;
      padding: 0 6px;
      margin-right: 6px;
      a {
        text-decoration: none;
        display: block;
        font-weight: bold;
      }
      &:hover {
        padding: 0 7px;
        background: $blue;
        padding-bottom: 2px;
        border: none;
        a {
          color: $darkblue;
        }
      }
    }
  }
}
.home-index #l-homepage,
.registrations-new #l-registration, .registrations-edit #l-registration,
.home-timetable #l-timetable,
.home-sponsors #l-sponsors {
  top: 0px;
  padding: 0 7px;
  background: $blue;
  padding-bottom: 2px;
  border: none;
  a {
    color: $darkblue;
  }
}
#content {
}
#whatis {
  @include column(8);
}
#eventbox {
  @include column(4);
  @include last;
  margin-top: 7px;
  width: span(4) - 2px;
  height: 139px;
  margin-bottom: 12px;
  border: 1px solid $border-blue;
  text-align: center;
  font-family: CenturyGothic;
  font-size: 18px;
}
#eventdata {
  font-weight: bold;
  margin: 1.2em 0;
}
#participants, #newsfeed, #sponsors {
  @include column(4);
}
#sponsors {
  @include last;
}
h1,h2,h3 {
  small {
    margin: 0 0 0 6px;
    font-size: 13px;
    line-height: 11px;
  }
}
.userlist, .usertile { list-style: none; padding: 0; }
.userlist {
  @include clearfix;
}
.overflow-fade-x {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 20px;
    height: 100%;
    background: transparent url(/images/blueprint-tile-fade.png) 0px 0px;
    //outline: 1px solid rgba(0,255,0,.4);
  }
}
.usertile {
  float: left;
  width: 300px;
  height: 60px;
  .u {
    .a {
      float: left;
      margin-right: 6px;
      img {
        width: 48px;
      }
    }
    .nc {
      width: 300px - 48px - 6px;
      float: left;
      padding-top: 0px;
      .name {
        float: left;
        font-size: 13px;
        font-weight: bold;
      }
      .links {
        float: left;
      }
      .more {
        width: 300px - 48px - 6px - 10px;
        font-size: 11px;
        line-height: 13px;
        clear: left;
        a {
          color: $blue;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        div.position {
          white-space: nowrap;
          overflow: hidden;
        }
        div.comment {
          font-style: italic;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
.icon-twitter, .icon-facebook, .icon-website {
  @include hide-text;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  float: left;
  margin-left: 4px;
}
.icon-twitter { @include icon-sprite('twitter'); }
.icon-facebook { @include icon-sprite('facebook'); }
.icon-website { @include icon-sprite('website'); }
.copy {
  @include column(6);
}
.sessions-new, .registrations-new, .registrations-edit {
  #content { @include column(6); }
}
ul.auth_providers {
  margin-bottom: 20px;
  li {
    a {
      display: block;
      border: 1px solid $border-blue;
      text-align: center;
      font-family: CenturyGothic;
      font-size: 18px;
      padding: 9px;
    }
    margin-bottom: 10px;
  }
}
.home-impressum {
  .imprint {
    @include column(4);
    @include last;
  }
  .privacy {
    @include column(8);
  }
}

.simple_form {
  label {
    float: left;
    width: 150px;
    display: block;
    padding-top: 3px;
    text-align: left;
    margin-right: 12px;
    abbr {
      float: right;
      color: red;
      border: none;
    }
  }
  label.select, label.file {
    margin-top: 5px;
  }

  div.input {
    margin-bottom: 10px;
    clear: both;
    @include clearfix;
  }
  
  div.boolean, div.input.submit {
  }

  div.boolean label, label.collection_radio {
  }

  label.collection_radio {
  }
  
  .error, .hint {
    clear: left;
    margin-left: 150px;
    padding-top: 3px;
    font-size: 12px;
    display: block;
  }

  .error {
    color: #D00;
  }

  .hint {
    color: #555;
    font-style: italic;
  }

  .x {
    label.string {
      position: absolute;
    }
    .check_boxes {
      padding-left: 150px;
    }
    .error, .hint {
      margin-left: 0;
    }
  }
  
  input.boolean, select.select {
    margin-top: 9px;
  }
}

.nbr { white-space: nowrap; }

.home-timetable {
  @include clearfix;
  .col {
    float: left;
    width: 420px;
    margin-right: 60px;
    &.last {
      margin-right: 0;
    }
  }
}
.timetable {
  border-collapse: collapse;
  tr {
    &:nth-child(even) {
      background: rgba($blue, 0.1);
    }
    &:nth-child(odd) {
      
    }
  }
  th {
    text-align: center;
    white-space: nowrap;
    border-right: 1px solid $border-blue;
  }
  td {
    width: 100%;
  }
  th, td {
  }
}

.home-sponsors {
  .item p {
    width: 600px;
    margin-right: 40px;
  }
  .item p.i {
    width: auto;
    margin-right: 20px;
    float: right;
  }
}