$blueprint-grid-columns: 24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;
$line-height: 18px;
$width: $blueprint-grid-columns * ($blueprint-grid-width + $blueprint-grid-margin) - $blueprint-grid-margin;

$darkblue: #072338;
$blue: #99def7;
$font-color: $blue;
$link-color: $blue;

@import "compass";
@import "compass/layout";
@import "blueprint";
@import "blueprint/interaction";

@include blueprint-typography;
@include blueprint-interaction;

body {
  background: $darkblue;
}
#container {
  @include container;
  padding: 0 10px;
}
#flash {
  position: absolute;
  z-index: 500;
  top: 0;
  width: $width;
  p {
    margin: 0;
    padding: 8px;
  }
  .notice {
  }
  .alert {
  }
}
#nav {
  @include column(8);
  @include last;
  width: 286px;
  padding: 1em;
  margin-top: 8px;
  .u {
    margin-top: 8px;
  }
}
#header {
  @include column(24);
  @include last;
  h1 {
    width: 100%;
    height: 240px;
    margin: 0;
    a {
      display: block;
      position: absolute;
      margin-left: -72px;
      text-decoration: none;
      background: url(/images/logo.png) no-repeat 0 0;
      @include hide-text;
      width: 100%;
      height: 240px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
#content {
  @include column(24);
  @include last;
}
.ptc {
  h3 { margin-top: 0; }
  ul, li { list-style: none; padding: 0; margin: 0; }
  li {
    @include clearfix;
  }
}
.u {
  .a {
    display: block;
    float: left;
    margin: 0px 8px 8px 0;
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
  }
  .nc {
    padding-top: 2px;
    span {
      display: block;
      font-size: 90%;
      height: 16px;
      overflow: hidden;
    }
    small {
      display: block;
      font-size: 50%;
    }
  }
  b {
    font-weight: bold;
    @include single-text-shadow(#aaa, 1px, 1px, 2px);
  }
}
#was, #wann, #wo {
  @include column(8);
}
#was h4 {
  margin-bottom: 0.25em;
}
#was h4:last-child {
  margin-bottom: 1em;
}
#wo {
  @include last;
}
#rsvp {
  @include column(14);
  @include last;
  padding: 2em ($blueprint-grid-width + $blueprint-grid-margin);
  text-align: center;
  h2 {
    margin-top: 0;
  }
  #by { font-weight: bold; }
  &.status-none {
    @include single-box-shadow(#aaa, 0, 0, 15px, 0, true);
  }
  &.status-0 {
    @include single-box-shadow(#faa, 0, 0, 15px, 0, true);
    background: #fee;
  }
  &.status-1 {
    @include single-box-shadow(#afa, 0, 0, 15px, 0, true);
    background: #efe;
  }
  &.status-2 {
    @include single-box-shadow(#aaf, 0, 0, 15px, 0, true);
    background: #eef;
  }
}
#participants {
  clear: both;
  @include column(8);
  h3 {
    a {
      font-size: 14px;
      padding-left: 16px;
    }
  }
}
#yes, #maybe {
  @include column(8);
}
#maybe {
}
#twitter {
  @include column(8);  
}
#sponsors {
  @include column(8);
  @include last;
}
#footer {
  @include column(24);
  @include last;
  margin-top: 3em;
  border-top: 1px solid #bbb;
  font-size: 90%;
  a {
    text-decoration: none;
  }
  p {
    float: left;
  }
  p.links {
    float: none;
    text-align: right;
  }
}
address {
  font-style: normal;
  span {
    font-weight: bold;
  }
}
.home-impressum {
  ul, li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .privacy {
    @include column(12);
  }
  .imprint {
    @include column(12);
    @include last;
  }
}
ul.h {
  @include horizontal-list;
}
.home-credits ul.h {
  li {
    width: 120px;
    text-align: center;
  }
}
em {
  font-style: normal;
  font-weight: bold;
  @include single-text-shadow(#ccc, 1px, 1px, 5px);
  span {
  }
}
h2 small {
  font-size: 14px;
}
#sponsors {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
th {
  text-align: left;
  border-bottom: 1px solid black;
  background: #eee;
}
td.actions {
  white-space: nowrap;
  a {
    font-weight: bold;
  }
}
.sponsors-index table big {
  font-size: 2em;
}
#sponsors {
  li {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
  }
  li:last-child {
    border-bottom: none;
  }
  big {
    font-size: 2em;
  }
}
.users-index {
  ul, li { list-style: none; padding: 0; margin: 0; }
  li {
    @include clearfix;
  }
  .u {
    clear: both;
    .c {
      font-size: 2em;
      small a {
        font-size: 12px;
      }
    }
  }
}
