#back= link_to "← back", root_path

.copy
  %h2 it's about all of us!
  %p When it comes to Agile, the case seems to be clear: It's on everyone's lips. Everyone has an idea what it's about. We all love the attitude. We all believe we practice – at least tiny bits – of it in our day-to-day work life. However, surprisingly few work teams thoroughly live and breathe agile. Especially when it comes to the areas of concept and design, the waterfall is dripping down our processes. 

  %h3 what is agile?
  %p The idea of introducing Agile Development often comes from the coders’ corner. It's then about convincing the rest of the team and, not to forget, the clients, since it turns the whole development process as they know it upside down: Agile requires everyone to rethink and reorganize his or her own participation up to the point where others are allowed and even required to enter one’s own sphere of competence. Agile is about the user and providing the user with the best possible product. No single person has all the answers, so it's about collaboration. Being confronted with intangible requirements sucks, so it's about user stories and prototypes to talk about. Real world data rocks, so it's about user testing from the beginning.
  %p All this has its consequences when adding design to the mix: Agile Design means coming out of the artist's cave and letting go of perfectionist dreams. Understanding design in terms of use, not in terms of visuals; as a collaborative process, not as a bold vision; as being required to stay rough, unfinished and open to feedback – all this challenges the designer's work.

  %h3 what does that mean?
  %p
    What are the skills required for working in an agile environment?
    %br
    What is left to do for the designer when everyone is allowed to talk about design concepts?
    %br
    At what point can I as a designer stand up for the aesthetic purpose?
    %br
    Is design now something that comes afterwards when the software is already there?
    %br
    How can visual and interface design inform and influence software development?
    %br
    How can design be developed in iterations and cycles, i.e. evolve?
    %br
    Will I have to code?

  %h3
    join us!
    %small= link_to 'register now', new_user_registration_path, :class => 'lightbox'
  %p These are some of the questions we’d love to discuss with you on the camp. Since Agile Development affects all team members, we want to invite not only visual designers, but also product and project managers, developers and UX experts. We believe this will give us the perspectives for a diverse and fruitful discussion. After all, Agile is more about collaboration than about processes and tools.
