<div class="imprint">
  <h1>Impressum</h1>
  <address>
    <span>Matthias Bauer</span>
    <br>
    Straßmannstraße 36
    <br>
    10249 Berlin
    <br>
    Germany
  </address>
  <ul>
    <li>
      e-mail:
      <a href="mailto:&#109;&#111;&#101;&#102;&#102;&#106;&#117;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">moeffju&#064;gmail.com</a>
    </li>
    <li>
      phone:
      <a href="tel:+4917648614141">+49 (0)176 48614141</a>
    </li>
  </ul>
  <ul>
    <li>
      EU VAT ID:
      DE&nbsp;207&nbsp;49&nbsp;36&nbsp;21
    </li>
  </ul>
  <div id="imprint-notice">
    <small>Diese Daten dürfen nicht zu Werbezwecken genutzt werden.</small>
  </div>
</div>
