<h2>Sponsoring</h2>
<p>Es wäre super, wenn wir ein paar kleine Sponsoren finden würden, die z.B. den Frühankommern das Frühstück in der kopiba bezahlen (5€ pro Person). Oder ein paar Freigetränke.</p>
<p>Sponsoren werden mehrmals am Tag mit Logo gezeigt und genannt. Wenn ihr (subtile, der Raum ist klein :) Werbemittel habt, könnt ihr die auch aufstellen.</p>
<p>Kontakt: <a href="mailto:&#109;&#111;&#101;&#102;&#102;&#106;&#117;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">moeffju&#064;gmail.com</a></p>
