%h2 sponsoring
%p If you are interested in supporting the agile design camp, please let us know. We will send you an information package with all the facts you need to know. Individual agreements are very welcome!
%p contact us at <a href="mailto:&#109;&#111;&#101;&#102;&#102;&#106;&#117;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">moeffju&#064;gmail.com</a>
